ul {
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 4px;
    font-size: 14px;
    color: #333;
}

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}

h4 {
    color: #2c3e50;
}

button {
    font-weight: bold;
    border-radius: 4px;
}
